<div class="documentTabContent">
  <ng4-loading-spinner> </ng4-loading-spinner>
  <div class="tab-content" id="v-pills-tabContent">
    <div>
      <div class="tabContentInner">
        <h4 class="mb10 fs24 color-black ff-medium">{{ resp }}</h4>
        <hr />
        <p class="fs14 color-black0 ff-light mb30">{{ description }}</p>
        <hr />
        <div class="row mb30 linksContainer">
          <div class="col-md-12">
            <table class="  table-hover " cellpadding="5">
              <tr class="color-red">
                <th>Product/API</th>
                <th>Description</th>
              </tr>
              <ng-container *ngFor="let row of obj">
                <tr *ngFor="let detail of row.tabs">
                  <td class="ws-nowrap">{{ detail.TAB_NAME }}</td>

                  <td>{{ detail.DESCRIPTION }}</td>
                </tr>
              </ng-container>
            </table>
          </div>
 
      <div class="col-md-12 text-right">
        <hr />
        <a
          data-toggle="modal"
          data-target="#viewFlow"
          class="tryItFreeBtn"
          >{{ constants.VIEW_FLOW }}</a
        >
        <a
          [href]="file"
          class="tryItFreeBtn"
          download
          >{{ constants.PDF_DOCUMENT }}</a
        >
      </div>
    </div>
  </div>
    </div>
      <div class="modal" id="viewFlow">
        <div class="modal-dialog w-max1295">
          <div class="modal-content" >
            <div class="modal-header">
              <i data-dismiss="modal" class="material-icons close">close</i>
            </div>
            <div class="modal-body">
              <img *ngIf="image"
              [src]="image"
                class="w-max100 banner"
                id="img_id"
              />
            </div>
            <div class="modal-footer"></div>
          </div>
        </div>
      </div>
  </div>
  <!-- <div class="copyrightSection">
   <p>Copyright 2017 ICICI Bank Ltd. All rights reserved.</p>
 </div> -->
</div>