
  <div class="wrapper col-md-12 logo-style">
    <div class="container col-md-12">
      <div class="col-md-6 col-xs-12 col-sm-12 login-col">
        <div class="login-logo">
          <a
            ><img
              src="assets/images/icici-svg-2.svg"
              class="user-image"
              alt="User Image"
          /></a>
        </div>
</div>
  <div class="tab-error">
  <h1>
    Something went wrong :(
  </h1>
  <h6>
    Please try again later or drop a mail at <a [href]="emailstring" target="_top">apibanking@icicibank.com</a>
  </h6>
  <button
  type="button"
  class="signInBtn w70 p0 mt4"
  [routerLink]="['/index']"
>
  Home
</button>
</div>
  </div>
  </div>
