<!-- <div class="modal-header loginsuccess-modal-border">
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="modalRefClose()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<!-- <button
  type="button"
  class="close color-blue float-right"
  aria-label="Close"
  (click)="modalRefClose()"
>
  <span aria-hidden="true">&times;</span>
</button>
<img
  src="assets/images/appathon-banner.png"
  class="p0"
  width="100%"
  (click)="modalRefImgClick()"
/> -->
<div class="modal-body p0">
  <button
    type="button"
    class="close advertisementPopUp"
    aria-label="Close"
    (click)="modalRefClose()"
  >
    <!--span-->
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row mb10 p0">
    <div class="col-md-12 p0">
      <img
        src="assets/images/ICICI-APPATHON-2020_Digital-1.jpg"
        class="p0"
        width="100%"
        height="auto"
        (click)="modalRefImgClick()"
      />
    </div>
  </div>
</div>
