<div class="documentTabContent">
  <div class="tab-content" id="v-pills-tabContent">
    <!-- Corporate -->
    <div>
      <div class="tabContentInner">
        <h4 class="mb10 fs24 color-black ff-medium">Corporate Suite</h4>
        <hr>
        <p class="fs14 color-gray ff-light mb30">Corporate Internet Banking APIs enable the customer/partner to access
          ICICI Bank's internet portal services on his platform, like payment, bank statement, balance fetch and can
          apply for instant overdraft.
        </p>
        <hr>
        <div class="row mb30 linksContainer">
          <div class="col-md-4">
            <a class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                <h4>User Registration</h4>
                <h5>Corporate category</h5>
                <p>In day-to-day working, most of the times Businesses need to open bank accounts for either their
                  customers or their employees, these APIs allow you to open a bank account for an individual without
                  making them to visit any branch. With various modular products you can decide what facilities you want
                  to provide to your customer, ranging from Face Scan APIs to Credit Card Ordering APIs.</p>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                <h4>Payments</h4>
                <h5>Corporate category</h5>
                <p>Leverage the set of payments API in the domain of UPI payments, NEFT or IMPS and others, to create
                  payment solution along with ICICI Bank. The payment APIs enable the complete payment lifecycle from
                  registration to making transactions, checking status and de-registering.
                </p>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                <h4>Account Services</h4>
                <h5>Corporate category</h5>
                <p>A complete bouquet of APIs for authenticated customers to have access to information pertaining to
                  their accounts and transactions. The offering provides robust and flexibility access to information
                  for customers from everything ranging from - account balance, mini-statements, transaction status or
                  raising service requests. This is the one-stop shop to provide you with a plethora of accessibility to
                  one's banking portfolio. If you are a fintech or aggregator who wants to integrate with our services
                  to provide world-class user experience for your users based on the authentication provided by
                  customers, do check out our offerings.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="row mb30 linksContainer">
          <div class="col-md-4">
            <a class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                <h4>Collections</h4>
                <h5>Corporate category</h5>
                <p></p>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                <h4>UPI 2</h4>
                <h5>Corporate category</h5>
                <p>With the updated version of UPI, we provide you the added benefits of E-Mandate, better security
                  levels along with it, these robust APIs facilitate you to traverse across this process with ease
                  whether it is- placing Collect requests, facilitating payments, tracking requests or publishing
                  consolidations. The bouquet of APIs allows you to cover the complete lifecycle.
                </p>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                <h4>InstaPAY</h4>
                <h5>Corporate category</h5>
                <p></p>
              </div>
            </a>
          </div>
        </div>
        <div class="row mb30 linksContainer">
          <div class="col-md-4">
            <a class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                <h4>BBPS</h4>
                <h5>Corporate category</h5>
                <p>BBPS is the centralized system facilitating all bill collection needs. The interoperable platform
                  allows the customer of one bank to pay bills of a biller acquired by another bank. The Utility
                  payments API suite allows you to connect directly with the BBPS network of India. The product not only
                  enables collection of bills through online Payment Gateway based platforms but also through an
                  extensive network of physical merchants and agents.</p>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                <h4>Pay2corp</h4>
                <h5>Corporate category</h5>
                <p></p>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                <h4>Cash Deposit Machine</h4>
                <h5>Corporate category</h5>
                <p>Cash Deposit Machine APIs enable clients to authenticate the cash
                  depositor in Cash Deposit Machine and update the deposited amount to
                  the client's server.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="row mb30 linksContainer">
          <div class="col-md-4">
            <a class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                <h4>Penny Drop</h4>
                <h5>Corporate category</h5>
                <p></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Corporate -->

</div>